{% extends '@layout/default.html.twig' %}

{% block title %}Photo {{ image.getName() }}{% endblock %}

{% block content %}

    <div class="mt-4 ml-1 mb-0 pb-0 text-sm">
        <a href="/" title="View all photos">Home</a> &raquo; <span class="font-bold">{{ image.getName() }}</span>
    </div>

    <h1 class="inline-block">{{ image.getName() }}</h1>

    <div class="border-2 border-slate-200 rounded-md p-2 shadow-sm">
        <div class="">
            <img src="data:image/png;base64,{{ image.getData() }}"
                 class="border border-t-slate-100 rounded-md"
                 alt="{{ image.getName() }}">
        </div>
    </div>
{% endblock %}
